.Nav-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 2.5rem;
  flex-direction: row;
}

.Nav-link-list ul {
    margin: 0;
    padding: 0;
}

.Nav-link-list li {
    display: inline-block;
    margin-left: 1.5em;
}

.Nav-link-normal {
    text-decoration: none;
    color: #ffffff;
}

.Nav-link-active {
    text-decoration: none;
    color: cyan;
}

.Nav-link-content {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px transparent;
    width: 100%;
}

.Nav-link-normal .Nav-link-content:hover {
    color: #00ffff80;
    border-bottom: solid 1px #00ffff80;
}

.active-to-left {
    align-items: flex-start;
}

.active-to-right {
    align-items: flex-end;
}

.active-from-left {
    align-items: flex-start;
}

.active-from-right {
    align-items: flex-end;
}

.Nav-link-normal > .Nav-link-content > span {
    width: 0;
    height: 3px;
    margin-top: .1em;
    background-color: cyan;
    transition: width .3s;
}

.Nav-link-active > .Nav-link-content > span {
    width: 100%;
    height: 3px;
    margin-top: .1em;
    background-color: cyan;
    transition: width .3s;
    transition-delay: .075s;
}

.Nav-drawer-toggle {
    display: none;
}

@media only screen and (max-width: 700px) {
    .Nav-drawer-toggle {
        display: flex;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
        z-index: 1;
    }

    .Nav-drawer-toggle span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        width: 1.5rem;
        height: 2px;
        transition-delay: .25s;
    }

    .Nav-drawer-toggle span::before {
        position: absolute;
        content: '';
        background-color: #ffffff;
        width: 1.5rem;
        height: 2px;
        transform: translate(0, calc(-1 * (1.5rem - 2px) / 2));
        transform-origin: 50% 50%;
        transition: .5s;
    }

    .Nav-drawer-toggle span::after {
        position: absolute;
        content: '';
        background-color: #ffffff;
        width: 1.5rem;
        height: 2px;
        transform: translate(0, calc((1.5rem - 2px) / 2));
        transform-origin: 50% 50%;
        transition: .5s;
    }

    .Nav-drawer-toggle span.open {
        background-color: transparent;
        transition: 0s;
    }

    .Nav-drawer-toggle span.open::before {
        content: '';
        width: calc(1.4142 * 1.5rem);
        transform: rotate(45deg);
        transform-origin: center center;
    }

    .Nav-drawer-toggle span.open::after {
        content: '';
        width: calc(1.4142 * 1.5rem);
        transform: rotate(-45deg);
        transform-origin: center center;
    }

    .Nav-link-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        position: fixed;
        width: 100%;
        height: 100%;
        right: -100%;
        top: 0px;
        padding-left: 2em;
        padding-right: 2em;
        background-color: #000000;
        transition: .3s;
        box-sizing: border-box;
    }

    .Nav-link-list.open {
        position: fixed;
        right: 0px;
    }
      
    .Nav-link-list li {
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }

    .Nav-link-normal {
        width: 100%;
        border-bottom: solid 1px #80808080;
    }

    .Nav-link-active {
        width: 100%;
        border-bottom: solid 1px cyan;
    }
    
    .Nav-link-normal > .Nav-link-content > span {
        width: 0;
        transition: 0s;
    }

    .Nav-link-active > .Nav-link-content > span {
        width: 0;
        transition: 0s;
    }
}