.Projects-main {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.Projects-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 2em;
    padding: 2%;
    background: #393a3b;
    border-radius: 10px;
    box-sizing: border-box;
}

.Projects-title {
    color: cyan;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.Projects-brief {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: solid 1px cyan;
}

@media only screen and (max-width: 1400px) {
    .Projects-item-container {
        width: 45%;
    }
}

@media only screen and (max-width: 1200px) {
    .Projects-item-container {
        width: 50%;
    }
}

@media only screen and (max-width: 980px) {
    .Projects-item-container {
        width: 65%;
    }
}

@media only screen and (max-width: 700px) {
    .Projects-item-container {
        width: 90%;
    }
}