@import url('https://fonts.googleapis.com/css?family=Aldrich');

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: 
      "header"
      "main"
      "footer";
  width: 100%;
  height: 100vh;
  background-color: #101010;
}

.App-header {
  grid-area: header;
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
}

.App-logo {
  grid-area: main;
  content: "KS";
  color: #ffffff;
  margin-left: 2.5rem;
  text-decoration: none;
  font-size: 2.5em;
  font-family: 'Aldrich';
  align-items: center;
  z-index: 1;
}

.App-logo::before {
  content: "KS";
}

.App-content {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.App-footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.App-footer #contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-footer h3 {
  margin: 0px;
  padding-top: 1em;
}

.App-footer #contact > div {
  margin: 0px;
  padding: 1em;
}

.App-footer .Email {
  text-decoration: none;
  color: #ffffff;
}

.App-footer .Email:hover {
  color: #26a1f3;
}

.App-footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 1em;
}

.App-footer li a {
  text-decoration: none;
  color: white;
  padding-right: .5em;
  padding-left: .5em;
}

.App-footer hr {
  width: 6.5em;
  margin: 0px;
  padding-bottom: .5em;
  border: 0;
  border-top: solid 1px gray;
}